appdirs==1.4.4
asgiref==3.3.1
attrs==20.3.0
cfgv==3.2.0
distlib==0.3.1
Django==3.1.5
djangorestframework==3.12.2
filelock==3.0.12
flake8==3.8.4
flake8-bugbear==20.11.1
flake8-docstrings==1.5.0
flake8-polyfill==1.0.2
identify==1.5.13
mccabe==0.6.1
nodeenv==1.5.0
pep8-naming==0.11.1
pkg-resources==0.0.0
pre-commit==2.9.3
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pytz==2020.5
PyYAML==5.4.1
six==1.15.0
snowballstemmer==2.1.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.4.0
